body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body *{
  margin: 0;
  padding: 0;
  position: relative;
}

.title-primary{
  font-size: 36px;
  color: #131313;
  margin: 20px 0;
}

.leftPanel{
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.rightPanel{
  margin-left: 320px;
  padding: 0 20px;
}

.content{
  max-width: 1000px;
  min-width: 840px;
  margin: 20px auto 20px auto;
  padding-top: 100px;
}

.search{
  width: 100%;
  padding: 0 20px;
}

.bottom{
  width: 100%;
  height: 80px;
  margin: 20px 0 0 0;
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSongButton{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0; left: 0;
  background-color: transparent;
  color: transparent;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}
.addSongButton:hover{
  background-color: rgba(50, 50, 50, 0.5);
  color: #eee;
  cursor: pointer;
}

.ant-tabs-nav .ant-tabs-tab{
  height: auto;
}
.ant-tabs-bar{
  margin-bottom: 0;
}
.deleteSongButton:hover{
  background-color: rgba(200, 200, 200, 0.1);
  transition: 'all 0.2s';
}
.audio-player{
  height: 102px;
  width: 320px;
}
.ant-slider{
  background-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.ant-slider:hover{
  background-color: transparent;
}
.ant-slider-step{
  background: rgba(200, 200, 200, 0.3);
}
.ant-tabs-nav .ant-tabs-tab-active{
  color: #fff;
}
.ant-tabs-nav .ant-tabs-tab-active:hover{
  color: #ccc;
}
.ant-tabs-ink-bar{
  background-color: #fff;
}

.ant-select-selection{
  border: none;
}
.ant-select-open .ant-select-selection{
  border: none;
  box-shadow: none;
}
.ant-select-focused .ant-select-selection .ant-select-selection:focus{
  border: none;
  box-shadow: none;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
  border: none;
  box-shadow: none;
}

.ant-tabs{
  display: flex;
  flex-direction: column;
  width: 320px;
}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane{
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content-animated{
  flex: 1;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #999;
    opacity: 0.4;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.gradient{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 220px;
  background: linear-gradient(to bottom, #fff, transparent, transparent);
}
.cover-gradient{
  margin-top: 2px;
  height: 60px;
  width: 220px;
  background-position: 0 0;
  background-size: cover;
  transform: rotateX(180deg);
}
.ellipsis{
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 5px;
}

.footer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.ant-select-dropdown-menu-item{
  font-size: 13px;
}
.ant-select-selection__rendered{
  font-size: 13px;
}

.navbar_scroll{
  box-shadow: 0 0 5px #888;
}

.heart{
  fill: #e91e63;
  margin: 0 10px;
  animation: beat 1.5s linear infinite;
}
@keyframes beat {
  0%, 100%, 16%, 32%{
    transform: scale3d(1,1,1);
  }
  24%, 8%{
    transform: scale3d(1.1,1.1,1);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 200px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.ant-select-dropdown{
  z-index: 99;
}
